body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #f7cac9, #92a8d1);
    user-select: none;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(135deg, #ffe4e1, #f0efeb);
    padding: 20px 60px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(to right, #ff5733, #ffcc5c);
    padding: 10px 20px;
    border-radius: 20px;
    border: 4px solid #fff;
    border-image: linear-gradient(to right, #ff5733, #ffcc5c);
    border-image-slice: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.reset{
    font-size: 1.5em;
    padding: 15px 20px;
    width: 100%;
    color: #fff;
    background-color: #ff5733;
    border: none;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.reset:focus {
    color: #fff;
    background-color: #ffcc5c;
}

.reset:hover {
    background-color: #ff8c42;
}

.game {
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffecb3;
    border-radius: 10px;
    font-size: 3em;
    transform: rotateY(180deg);
    transition: transform 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item::after {
    content: "";
    position: absolute;
    inset: 0;
    background: #696969;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 2px solid #000;
    transform: rotateY(0deg);
    transition: transform 0.5s;
    backface-visibility: hidden;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
    transform: rotateY(180deg);
}

.message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: none;
}

#messageText {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}
